{
  "extends": "rallycoding",
  "rules": { 
    "max-len": "off",
    "arrow-body-style": "off",
    "react/require-extension": "off",
    "no-lonely-if": "off",
    "no-param-reassign": "off",
    "react/sort-comp": "off"
  }
}
